.card {
  background: #e8cbc0;
  background: linear-gradient(to right, #ffded2, #bbc6f8);
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-fluid {
  text-align: center;
  background: #90a3f6;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

h1 {
  text-align: center;
}
