div > .col-sm-4,
.col-sm-5 {
  background-color: white;
  padding: 20px 40px 20px 40px;
  margin-left: 20px;
  margin-right: 20px;
}
#profile-img-large {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
}
#pop-up-card {
  height: 100%;
}
